<div id="main-page">
    <h1 class="white">Empowerment Community</h1>
    <h3 class="white">
        Meet our community that provides people
        resources to help them live their best lives.
    </h3>
    <div id="sections">
        <button class="sections-btn">ABOUT COMMUNITY</button>
        <button class="sections-btn">PROJECTS</button>
        <button class="sections-btn">ONLINE COURSES PRESENTERS</button>
        <button class="sections-btn">ADMINISTRATIVE STAFF</button>
    </div>
</div>