{% load static %}

<div id="presenters" class="block">
    <h1>Online Courses Presenters</h1>
    <div id="presenter-list">
        <div class="presenter">
            <h2>Lilly J.<br>Landikusic </h2>
            <img src="{% static 'img/main-page/ol/1.png' %}" alt="">
            <p>Licensed Marriage and Family Therapist teach at the 'Hope Project' course.</p>
        </div>
        <div class="presenter">
            <h2>Kevin</br>Kelly</h2>
            <img src="{% static 'img/main-page/ol/1.png' %}" alt="">
            <p>Licensed Marriage and Family Therapist teach at the 'Hope Project' course.</p>
        </div>
        <div class="presenter">
            <h2>Desiree<br>Surname</h2>
            <img src="{% static 'img/main-page/ol/1.png' %}" alt="">
            <p>Licensed Marriage and Family Therapist teach at the 'Hope Project' course.</p>
        </div>
        <div class="presenter">
            <h2>Hena<br>Surname</h2>
            <img src="{% static 'img/main-page/ol/1.png' %}" alt="">
            <p>Licensed Marriage and Family Therapist teach at the 'Hope Project' course.</p>
        </div>
    </div>
</div>