{% load static %}

<div id="projects-page" class="block">
    <h1 class="white">Projects</h1>
    <div id="projects-slider">
        <div id="projects">
            <div id='eo' class="project active">
                <img src="{% static 'img/main-page/projects/eo.png' %}">
                <div class="project-content">
                    <h2 class="white">Empowerment Online</h2>
                    <p>
                        Empowerment Online is an extension of
                        Empowerment Counseling Services, a community
                        based agency dedicated to supporting clients
                        mental health needs for over 20 years. Our aim
                        is to assist clients in successfully overcoming
                        challenges and hardships to create effective,
                        affordable and accessible solutions to start
                        living their very best lives, ever.
                    </p>
                    <button><a href="https://empowerment.dreamsites.io/">LEARN MORE</a></button>
                </div>
            </div>
            <div id='voh' class="project">
                <img src="{% static 'img/main-page/projects/voh-light.png' %}">
                <div class="project-content">
                    <h2 class="white">Voices of Hope</h2>
                    <p>
                        Is a community-based organization developed
                        by individuals who have experienced trauma
                        within the United States Family law System.
                        This project is dedicated to empowering the v
                        oices and messages of hope from the healers,
                        heroes and victims who have overcome or are still
                        oppressed and struggling true trauma, within
                        the family law system in the United States.
                    </p>
                    <button><a href="https://voicesofhope-nqhlj.ondigitalocean.app/">LEARN MORE</a></button>
                </div>
            </div>
        </div>
        <button id="next-btn"><img src="{% static 'img/buttons/next.png' %}"></button>
    </div>
</div>


