<div id="who-we-are" class="block">
    <h1 class="gray">Empowerment Community</h1>
    <p id="who-we-are-text">
        The purpose of The Empowerment Community
        is to create a network of inspiring resources
        that are easily accessible and shareable
        for anyone in the world to know they are
        not alone. Anyone can join our grassroots
        movement dedicated to coming together to
        spread hope, encouragement and the right
        resources to help others overcome any
        challenge, adversity or trauma to live
        their best lives.
    </p>
</div>