body {
    font-family: "Cinzel", sans-serif;
    margin: 0;
}

button {font-family: "Cinzel", sans-serif;}
.white {color: #DFDDD9;}
.gray {color: #494949;}
.brown {color: #766052;}

header {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #766052;
}
header a {
    width: 25%;
}
header img {width: 55%;}
#sections {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#sections button {
    font-size: 15px;
    padding: 1%;
    text-align: start;
    background-color: transparent;
    border: none;
}

#up-btn {
    position: fixed;
    z-index: 1;
    bottom: -80px;
    right: 50px;
    width: 80px;
    height: 80px;
    background-color: #766052;
    border: none;
    border-radius: 50%;
    transition: 0.3s all;
}
.active-btn {
    bottom: 50px !important;
    transition: 0.3s all;
}
#up-btn img {
    width: 100%;
    height: 100%;
}

#main-page {
    background-image: url(../img/main-page/main.png);
    background-size: cover;
    padding: 5% 50% 5% 5%;
}
#main-page h1 {
    font-size: 50px;
    font-weight: 400;
}
#main-page h3 {margin-top: 2%;}


/* Projects */
#projects-page {
    background-color: #D0BAB0;
    padding: 15% 5%;
    color: white;
}
#projects-page h1 {
    font-size: 200px;
    font-weight: 400;
    margin: 0;
    position: absolute;
    transform: translateY(-70%);
    z-index: 1;
}
#projects-slider {
    display:flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15%);
}

#projects {display: inline-flex; height: 270px; overflow: hidden;}

.project {
    opacity: 0;
    width: 0;
    display: flex;
    transition: opacity 1s ease
}
.project.active {
    opacity: 1;
    width: 100%;

}

.project img {width:350px;}

.project-content {
    width: 50%;
    padding-left: 5%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-content h2 {font-size: 35px; margin-top: 0;}
.project-content p {margin-top: 0; font-size: 14px;}
.project-content a {
    padding: 2%;
    width: 40%;
    background-color: #E7E6E2;
    border: none;
    text-decoration: none;
    text-align: center;
    color: black;
}

#next-btn {border: none; background-color: transparent; width: 15%;}
#next-btn img {width: 100%;}

/* Presenters */
#presenters {padding: 5%;}
#presenters h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 400;
}
#presenter-list {display: flex;}
.presenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 1%;
    text-align: center;
    background-color: #E7E6E2;
}
.presenter img {width: 100%;}

/* Staff */
#staff {
    background-image: url(../img/main-page/staff.png);
    background-size: cover;
    padding: 5% 50% 20% 5%;
    color: #494949;
}
#staff ul {
    padding: 0;
    list-style-type: none;
    font-size: 20px;
}

/* Contact Us */
#contact-us {
    display: flex;
    align-items: stretch;
}

#contact-us-title {
    padding: 5%;
    width: 50%;
    background-color: #766052;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact-us-title h1 {font-weight: 400; font-size: 44px; margin: 0;}
#contact-us-title p {font-size: 30px;}
#contact-us-title a {text-decoration: none;}

#contact-us-form {
    padding: 5%;
    width: 50%;
    background-color: #DFDDD9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    width: 100%;
    padding: 1%;
    margin-bottom: 5%;
    border-width: 0 0 1px 0;
    border-color: #766052;
    background-color: transparent;
    font-family: "Cinzel", sans-serif;
    color: #766052;
    font-size: 20px;
}
input::placeholder {
    color: #766052;
    font-family: "Cinzel", sans-serif;
    font-size: 20px;
}
textarea {
    border: none;
    background-color: transparent;
    margin-top: 2%;
    width: 100%;
    font-family: "Cinzel", sans-serif;
    color: #766052;
    font-size: 20px;
}
textarea::placeholder {
    color: #766052;
    font-family: "Cinzel", sans-serif;
    font-size: 20px;
}
#contact-us-form button {
    background: transparent;
    padding: 2% 5%;
    width: 30%;
    border: 1px solid #766052;
}

/*
.shadow {
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 11px #dee2e6,
        0 0 20px #e9ecef,
        0 0 30px #6c757d,
        0 0 55px #6c757d,
        0 0 80px #e9ecef;
}
*/