@media screen and (max-width: 950px) {
    header {flex-direction: column;}
    header a {text-align: center;}
    #sections {justify-content: center;}

    #up-btn {width:60px; height:60px; right: 20px;}

    #main-page {padding: 5% 40% 5% 5%;}

    #projects-page h1 {font-size: 180px;}
    .project-content {width: 45%;}
    .project-content h2 {font-size: 27px;}


    #next-btn {width: 10%;}
}

@media screen and (max-width: 900px) {
    #projects-page h1 {font-size: 160px;}
    .project-content h2 {font-size: 25px;}
    .project-content p {font-size: 12px;}

}
@media screen and (max-width: 800px) {
    .project img {width: 315px;}
    .project-content {width: 41%;}
    #projects-page h1 {font-size: 150px;}
    .project-content p {font-size: 11px;}
}

@media screen and (max-width: 768px) {
    #sections {align-items: flex-start;}
    #sections button {font-size: 14px; padding: 2%; text-align: center; }


    .project img {width: 275px;}
    #projects {height: 300px;}
    #projects-page h1 {font-size: 135px;}
    .project-content h2 {font-size: 25px;}
    .project-content a {width: 100%;}


    #next-btn {width: 15%;}
}

@media screen and (max-width: 645px) {
    #main-page {padding: 5% 25% 5% 5%;}

    .project-content {width: 80%;}
    #projects-page h1 {font-size: 120px; transform: translateY(-50%);}
    #project-slider {transform: translateY(5%);}
    #projects {align-items: center;}

    .project {flex-direction: column;}
    .project img {display: none;}

    #next-btn {width: 20%;}

    #presenter-list {flex-direction: column;}
}

@media screen and (max-width: 590px) {
    #projects-page h1 {font-size: 100px;}
    #staff {padding: 5% 30% 20% 5%;}
}

@media screen and (max-width: 500px) {
    #sections {flex-direction: column;}
    #sections button {width: 100%;}

    #projects-page h1 {font-size: 85px;}

    #staff {padding: 5% 15% 20% 5%;}
}

@media screen and (max-width: 440px) {
    #main-page {padding: 5%;}

    #projects-page h1 {font-size: 70px;}

    #presenters h1 {font-size: 35px;}

    #staff {padding: 5%;}
}

@media screen and (max-width: 400px) {
    #main-page h1 {font-size: 40px;}

    #staff h1 {text-align: center;}
    #staff ul {text-align: center;}

    form div {flex-direction: column; margin-bottom: 4%;}
    form div input {width: 100%; padding: 3% 0;}
}

@media screen and (max-width: 350px) {
    #main-page h1 {font-size: 35px;}
    #main-page h3 {font-size: 20px;}
    #projects-page h1 {font-size: 60px;}
}